@model ASPProject.Models.Contacto;
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Edit Form-->
<br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Editar Contacto</h4>
    </div>
    <div class="panel-body">
        <form action="@Url.Action("Editar","Mantenedor")" method="post">

            <input type="hidden" name="IdContacto" value="@Html.DisplayTextFor(m => m.IdContacto)" />
            <div class="form-control">
                  <label>Nombre</label>
                  <input type="text" class="form-control" name="Nombre" value="@Html.DisplayTextFor(m => m.Nombre)" />
            </div>
            <div class="form-control">
                  <label>Correo</label>
                  <input type="text" class="form-control" name="Correo" value="@Html.DisplayTextFor(m => m.Correo)"/>
            </div>
            <div class="form-control">
                  <label>Telefono</label>
                  <input type="text" class="form-control" name="Telefono" value="@Html.DisplayTextFor(m => m.Telefono)"/>
            </div>
            <hr/>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-danger" href="@Url.Action("Inicio","Mantenedor")">Volver</a>
            <a></a>
        </form>

    </div>
</div>

